{% extends 'base.html.twig' %}

{% block body %}
    <audio autoplay="autoplay" controls="controls" preload="auto" autobuffer>
        <p>Your browser does not support the audio element.</p>
        <source src="{{ url }}" />
    </audio>
{% endblock %}